/* .breadcrumb {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px; /* Smaller text */
    /* font-weight: 600;
    color: #5e5e5e;
    margin: 40px 170px;
    text-transform: capitalize;
} */

/* Breadcrumb Arrow */
/* .breadcrumb span {
    color: #b5b5b5;
    font-size: 14px;
} */

/* Breadcrumb Links */
/* .breadcrumb a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.breadcrumb a:hover {
    color: #ff4141;
} */ 
.breadcum {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 600;
    color: #5e5e5e;
    margin: 20px 0;
    text-transform: capitalize;
}

.breadcum img {
    width: 14px;
    height: 14px;
}
